#!/bin/mksh
#
# wildefyr - 2015 (c) wtfpl
# source file for global variables across the environment

# Global variables
ROOT=$(lsw -r)
SW=$(wattr w $ROOT)
SH=$(wattr h $ROOT)

PFW=$(pfw)
CUR=${2:-$(pfw)}
maxHorizontalWindows=4

BW=${BW:-2}
ACTIVE=${ACTIVE:-0xD7D7D7}
INACTIVE=${INACTIVE:-0x03070B}
WARNING=${INACTIVE:-0xB23450}

W=$(wattr w $CUR)
H=$(wattr h $CUR)

originalX=$((20))
originalY=$((20))
X=$originalX
Y=$originalY
minW=466
minH=252

XGAP=${XGAP:-$((X))}
IGAP=${IGAP:-$((BW))}
VGAP=${VGAP:-$((BW))}
TGAP=${TGAP:-$((Y + 20))}
BGAP=${BGAP:-$((Y))}

BLUR=5
WALL=$(cat $(which bgc) | sed 's#~#/home/wildefyr#' | cut -d\  -f 2-)
TRANS="0.75"

FYREDIR=${FYREDIR:-~/.config/fyre}
GROUPSDIR=${GROUPSDIR:-$FYREDIR/groups}
LAYOUTDIR=${LAYOUTDIR:-$FYREDIR/layouts}
FSFILE=${FSFILE:-$FYREDIR/fullinfo}

if [ ! -d $GROUPSDIR ]; then
    mkdir -p $GROUPSDIR
fi

if [ ! -e $LAYOUTDIR ]; then
    mkdir -p $LAYOUTDIR
fi

# vim: set ft=sh :
