#!/bin/mksh
#
# wildefyr - 2015 (c) wtfpl
# source file for global variables across the environment

ROOT=$(lsw -r)
SW=$(wattr w $ROOT)
SH=$(wattr h $ROOT)

PFW=$(pfw)
CUR=${2:-$(pfw)}

minW=466
minH=252

BW=${BW:-2}
X=$(wattr x $CUR)
Y=$(wattr y $CUR)
W=$(wattr w $CUR)
H=$(wattr h $CUR)

XGAP=${XGAP:-$((20))}
IGAP=${IGAP:-$((BW))}
VGAP=${VGAP:-$((BW))}
TGAP=${TGAP:-$((40))}
BGAP=${BGAP:-$((20))}

ACTIVE=${ACTIVE:-0xD7D7D7}
WARNING=${WARNING:-0xB23450}
INACTIVE=${INACTIVE:-0x03070B}

BLUR=1
WALL=$(cat $(which bgc) | sed 's#~#/home/wildefyr#' | cut -d\  -f 2-)

FYREDIR=${FYREDIR:-~/.config/fyre}
GROUPSDIR=${GROUPSDIR:-$FYREDIR/groups}
LAYOUTDIR=${LAYOUTDIR:-$FYREDIR/layouts}

if [ ! -d $GROUPSDIR ]; then
    mkdir -p $GROUPSDIR
fi

if [ ! -e $LAYOUTDIR ]; then
    mkdir -p $LAYOUTDIR
fi

FSFILE=${FSFILE:-$FYREDIR/fullinfo}

# vim: set ft=sh :
