#!/bin/mksh
#
# wildefyr - 2015 (c) wtfpl
# source file for global variables across the environment

# Global variables
ROOT=$(lsw -r)
SW=$(wattr w $ROOT)
SH=$(wattr h $ROOT)

PFW=$(pfw)
CUR=${2:-$(pfw)}
maxHorizontalWindows=4

BW=${BW:-2}
ACTIVE=${ACTIVE:-0x2E8B57}
INACTIVE=${INACTIVE:-0x000000}
WARNING=${INACTIVE:-0xC64552}

W=$(wattr w $CUR 2&> /dev/null)
H=$(wattr h $CUR 2&> /dev/null)

originalX=$((20))
originalY=$((20))
X=$originalX
Y=$originalY
TermW=462
TermH=260

XGAP=${XGAP:-$((X))}
IGAP=${IGAP:-$((BW))}
VGAP=${VGAP:-$((BW))}
TGAP=${TGAP:-$((Y + 20))}
BGAP=${BGAP:-$((Y))}

BLUR=${BLUR:-5}
WALL=$HOME$(cat $(which bgc) | cut -d~ -f 2)

FYREDIR=${FYREDIR:-~/.config/fyre}

if [ ! -d $FYREDIR/groups ]; then
    mkdir -p $FYREDIR/groups
fi

GROUPSDIR=${GROUPSDIR:-$FYREDIR/groups}

FSFILE=${FSFILE:-$FYREDIR/fullinfo}
WLFILE=${WLFILE:-$FYREDIR/windowList}
WLFILETEMP=${WLFILETEMP:-$FYREDIR/windowTemp}
MPVFILE=${MPVFILE:-$FYREDIR/mpvFile}
MPVFILETEMP=${MPVFILETEMP:-$FYREDIR/mpvFileTemp}

# vim: set ft=sh :
