# mod1 = Alt_L
# mod2 = Alt_R
# mod3 = Hyper_L
# mod4 = Super_L

# reloading
mod1 + shift + e
    killall yawee.sh; wew | yawee.sh &!
mod1 + shift + r
    pkill -USR1 -x sxhkd

# movement scripts
mod1 + Tab
    focus.sh prev
mod1 + shift + Tab
    focus.sh next
mod1 + {h,j,k,l}
    closest.sh {h,j,k,l}
mod4 + {h,j,k,l}
    snap.sh {h,j,k,l}
mod1 + shift + {h,j,k,l}
    move.sh {left,down,up,right}
mod4 + shift + {h,j,k,l}
    move.sh {left,down,up,right}

# resize window
mod4 + {w,a,s,d}
    size.sh {su,sl,gd,gr} $(pfw)

# window stacking order
mod1 + u
    chwso -l $(pfw); closest.sh h
mod1 + i
    chwso -l $(pfw); closest.sh l

# manual window management
mod1 + g
    snap.sh md $(pfw)
mod1 + {q,w,e,r,a,s,m}
    position.sh {lft,quar,rht,full,res,ext,vid} $(pfw)
mod1 + f
    fullscreen.sh $(pfw)

# groups
mod1 + {1,2,3,4,5,6,7,8,9,0}
    wgroups.sh -t {1,2,3,4,5,6,7,8,9,0}
mod1 + shift + {1,2,3,4,5,6,7,8,9,0}
    wgroups.sh -s $(pfw) {1,2,3,4,5,6,7,8,9,0}

# layouts
mod2 + {1,2,3,4,5,6,7,8,9,0}
    layouts.sh o {1,2,3,4,5,6,7,8,9,0}
mod2 + shift + {1,2,3,4,5,6,7,8,9,0}
    layouts.sh s {1,2,3,4,5,6,7,8,9,0}

# terminals
{mod1, mod2} + Return
    urxvt
mod1 + d
    drun

# programs
mod2 + z
    notify -m "$(wclass.sh n $(pfw))"
mod2 + x
    notify -m "$(wclass.sh c $(pfw))"
mod2 + c
    notify -m "$(cpu t)C"
mod2 + v
    urxvt -name "alsamixer" -e zsh -c "alsamixer"
mod2 + b
    urxvt -name "mosh" -e zsh -c "con m"
mod2 + n
    urxvt -name "mpsyt" -e zsh -c "/builds/mps-youtube/mpsyt userpl wildefyri"

Print
    maim ~/shot.png; notify -D -m $(echo "Screenshot Taken")
shift + Print
    maim /tmp/.image.png; notify -D -m $(echo "Uploading Screenshot"); \
    teknik /tmp/.image.png | xsel -i

# it's a killin' time!
mod1 + shift + q
    winkill.sh

# system
mod4 + e
    power l
mod4 + shift + {q,e,r}
    power {p,e,r}

# mouse
mod1 + @button1
    xmmv $(pfw)
mod1 + !button3
    wrs -a %i %i $(pfw)
mod1 + z
    mouse.sh toggle
mod1 + c
    drawterm.sh

# transset-df
mod4 + t
    trans.sh $(pfw) 0
mod4 + y
    trans.sh $(pfw) 0.75
mod4 + u
    trans.sh $(pfw) 0.05 dec
mod4 + i
    trans.sh $(pfw) 0.05 inc
mod4 + o
    trans.sh $(pfw) 1.0

# mpv
mod1 + space
    notify -D -m $(mpvc -p | head -n 2)
mod2 + i
    notify -D -m $(mpvc)
mod2 + u
    mpvc -k
mod2 + l
    mpvc -f 1 -P
mod2 + h
    mpvc -f -1 -P
mod2 + k
    mpvc -s +5
mod2 + j
    mpvc -s -5
mod2 + f
    notify -D -m $(mpvc -l | tail -1 | cut -d\  -f 9-10)
mod2 + r
    notify -D -m $(mpvc -L | tail -1 | cut -d\  -f 7-8)

# speed
mod2 + q
    mpvc -z -0.05
mod2 + w
    mpvc -z 0.05

# volume
mod2 + m
    notify -D -m $(mpvc -m)
mod2 + o
    mpvc -v -5
mod2 + p
    mpvc -v 5

{XF86AudioLowerVolume, XF86AudioRaiseVolume}
    amixer -c 0 set Master 2db{-,+} unmute
XF86AudioMute
    amixer -c 0 set Master togglemute
