# mod1 = Alt_L
# mod2 = Alt_R
# mod3 = Hyper_L
# mod4 = Super_L

# reloading
mod1 + shift + e
    killall yawee.sh; wew | yawee.sh &!
mod1 + shift + r
    pkill -USR1 -x sxhkd

# movement scripts
mod1 + Tab
    focus.sh prev
mod1 + shift + Tab
    focus.sh next
mod1 + {h,j,k,l}
    closest.sh {h,j,k,l}
mod4 + {h,j,k,l}
    snap.sh {h,j,k,l}
mod1 + shift + {h,j,k,l}
    move.sh {left,down,up,right}
mod4 + shift + {h,j,k,l}
    move.sh {left,down,up,right}

# resize window
mod4 + {w,a,s,d}
    size.sh {su,sl,gd,gr} $(pfw)

# window stacking order
mod1 + u
    chwso -l $(pfw); closest.sh h
mod1 + i
    chwso -l $(pfw); closest.sh l

# manual window management
mod1 + g
    snap.sh md $(pfw)
mod1 + {q,w,e,r,a,s,m}
    position.sh {lft,quar,rht,full,res,ext,vid} $(pfw)
mod1 + f
    fullscreen.sh $(pfw)

# groups
mod1 + {1,2,3,4,5,6,7,8,9,0}
    wgroups.sh -t {1,2,3,4,5,6,7,8,9,0}
mod1 + shift + {1,2,3,4,5,6,7,8,9,0}
    wgroups.sh -s $(pfw) {1,2,3,4,5,6,7,8,9,0}
mod1 + c
    wgroups.sh -c $(pfw)

# layouts
mod2 + {1,2,3,4,5,6,7,8,9,0}
    layouts.sh -o {1,2,3,4,5,6,7,8,9,0}
mod2 + shift + {1,2,3,4,5,6,7,8,9,0}
    layouts.sh -s {1,2,3,4,5,6,7,8,9,0}

# terminals
{mod1, mod2} + Return
    urxvt
mod1 + d
    drun

# programs
mod2 + c
    notify -D -m "$(cpu t)C"
mod2 + v
    urxvt -name "alsamixer" -e zsh -c "alsamixer"
mod2 + b
    urxvt -name "mosh" -e zsh -c "con m"
mod2 + n
    urxvt -name "mpsyt" -e zsh -c "/builds/mps-youtube/mpsyt userpl wildefyri"
mod2 + t
    urxvt -name "tmux" -e zsh -c "tmux"

Print
    notify -D -m $(echo "Screenshot Taken") &; sleep 0.5; maim ~/shot.png
shift + Print
    maim /tmp/.image.png; notify -D -m $(echo "Uploading Screenshot"); \
    ioup /tmp/.image.png | xsel -i; xsel -o | xsel -bi

# it's a killin' time!
mod1 + shift + q
    killwa $(pfw)

# system
mod4 + e
    power l
mod4 + shift + {q,e,r}
    power {p,e,r}

# mouse
mod1 + @button1
    xmmv $(pfw)
button8
    xte 'keydown Control_L' 'key w' 'keyup Control_L'
button9
    xte 'keydown Control_L' 'keydown Shift_L' 'key t' 'keyup Shift_L' 'keyup Control_L'
mod1 + !button3
    wrs -a %i %i $(pfw)
mod1 + z
    mouse.sh toggle

# mpv
mod1 + space
    notify -D -m $(mpvc -p -f "mpv: %status%")
mod2 + i
    notify -D -m $(mpvc -f "%artist% | %title% | [%status%] (%percentage%%%) | volume: %volume%%%")
mod2 + u
    mpvc -k
mod2 + l
    notify -D -m $(mpvc -r 1 -P -f "Now playing: %artist% - %title%" )
mod2 + h
    notify -D -m $(mpvc -r -1 -P -f "Now playing: %artist% - %title%" )
mod2 + k
    mpvc -s +5
mod2 + j
    mpvc -s -5
mod2 + f
    notify -D -m $(mpvc -l -f "single: %single%" )
mod2 + r
    notify -D -m $(mpvc -L -f "repeat: %repeat%" )
mod2 + Up
    mpvc -s 1
mod2 + Down
    mpvc -s -1

# speed
mod2 + q
    mpvc -x -0.05
mod2 + w
    mpvc -x 0.05
mod2 + e
    mpvc -X 1.00

# volume
mod2 + m
    notify -D -m $(mpvc -m -f "muted: %muted%" )
mod2 + o
    mpvc -v -5
mod2 + p
    mpvc -v 5

{XF86AudioLowerVolume, XF86AudioRaiseVolume}
    amixer -c 0 set Master 2db{-,+} unmute
XF86AudioMute
    amixer -c 0 set Master togglemute
