#!/bin/sh
#
# wildefyr - 2015 (c) wtfpl
# test window classes when being opened

. ~/.config/fyre/fyrerc

usage() {
    printf '%s\n' "usage: $(basename $0) <wid>"
    exit 1
}

test -z $1 && usage

wid=$1
windowName=$(wclass.sh n $wid)
windowClass=$(wclass.sh c $wid)

# for speed
setborder.sh active $wid

if [ "$windowName" = "Navigator" ]; then
    sleep 1
    wgroups.sh -s $wid 2
elif [ "$windowName" = "Dialog" ]; then
    snap.sh md $wid
elif [ "$windowName" = "mosh" ]; then
    position.sh mid $wid
    snap.sh md $wid
    wgroups.sh -s $wid 3
elif [ "$windowClass" = "TeamSpeak 3" ]; then
    snap.sh left $wid
    position.sh res $wid
    position.sh ext $wid
    wgroups.sh -s $wid 4
elif [ "$windowClass" = "mpv" ]; then
    wgroups.sh -s $wid 5
    test -f $MPVPOS && wtp $(cat $MPVPOS) $wid
elif [ "$windowName" = "mupdf" ]; then
    wgroups.sh -s $wid 6
elif [ "$windowName" = "ncmpcpp" ]; then
    position.sh res $wid
    position.sh ext $wid
    snap.sh right $wid
    wgroups.sh -s $wid 8
elif [ "$windowName" = "mpsyt" ]; then
    position.sh res $wid
    position.sh ext $wid
    snap.sh right $wid
    wgroups.sh -s $wid 9
elif [ "$windowName" = "alsamixer" ]; then
    position.sh mid $wid
    snap.sh md $wid
elif [ "$windowClass" = "URxvt" ]; then
    position.sh res $wid
    snap.sh tl $wid
else
    snap.sh md $wid
fi
