#!/bin/sh
#
# wildefyr - 2015 (c) wtfpl
# test window classes when being opened

. ~/.config/fyre/fyrerc

usage() {
    printf '%s\n' "usage: $(basename $0) <wid>"
    exit 1
}

test -z $1 && usage

wid=$1
windowC=$(wclass.sh c $wid)
windowM=$(wclass.sh m $wid)

# for speed
setborder.sh active $wid

if [ "$windowC" = "Navigator" ]; then
    sleep 1
    wgroups.sh -s $wid 2
elif [ "$windowC" = "Dialog" ]; then
    position.sh md $wid
elif [ "$windowC" = "mosh" ]; then
    position.sh mid $wid
    position.sh md $wid
    transset-df -i $wid $TRANS
    wgroups.sh -s $wid 3
elif [ "$windowM" = "TeamSpeak 3" ]; then
    position.sh tl $wid
    position.sh res $wid
    position.sh ext $wid
    wgroups.sh -s $wid 4
elif [ "$windowM" = "mpv" ]; then
    wgroups.sh -s $wid 5
elif [ "$windowC" = "mupdf" ]; then
    wgroups.sh -s $wid 6
elif [ "$windowC" = "ncmpcpp" ]; then
    position.sh tr $wid
    position.sh res $wid
    position.sh ext $wid
    wgroups.sh -s $wid 8
    transset-df -i $wid $TRANS
elif [ "$windowC" = "mpsyt" ]; then
    position.sh tr $wid
    position.sh res $wid
    position.sh ext $wid
    wgroups.sh -s $wid 9
    transset-df -i $wid $TRANS
elif [ "$windowC" = "alsamixer" ]; then
    position.sh mid $wid
    position.sh md $wid
    transset-df -i $wid $TRANS
elif [ "$windowC" = "URxvt" ]; then
    position.sh md $wid
    position.sh res $wid
    transset-df -i $wid $TRANS
else
    position.sh md $wid
fi
